//
// CONTENT
//

.content {
  padding: 100px 25px;
  &.is-full {
    max-width: 100%;
    min-height: 100vh;
  }
  &.is-center {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  &.is-dark {
    color: white;
    background-color: color(secondary);
  }
  &.is-light {
    color: color(secondary);
    background-color: var(--bg);
  }

  // Content section title
  .content-title {
    margin-bottom: 40px;
    text-align: center;
    @media (min-width: 880px) {
      margin-bottom: 65px;
    }
    h2 {
      margin-top: 0;
      font-size: 49px;
      font-weight: 700;
      line-height: 59px;
      letter-spacing: -.016em;
    }
  }

  // Content typography
  p {
    line-height: 1.5;
  }

  h1, h2, h3 {
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -.016em;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  a {
    color: color(primary);
  }

  ul {
    padding-left: 0;
    line-height: 1.5;
    list-style-type: none;
    li {
      &:before {
        margin-right: .3rem;
        content: '-';
      }
    }
  }

  p, blockquote, ul, ol, dl, table, pre {
    margin-top: 0;
    margin-bottom: 16px;
  }

  // Content utilities
  .measure {
    max-width: 34em;
  }
}
