//
// GRID
//

.grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid: 1fr / auto-flow 1fr;
  @media screen and (max-width: 768px) {
    display: block;
  }
  .grid-cell {
    height: 50vh;
    background-color: color(secondary, dark);
    &:nth-child(2n) {
      background-color: color(secondary, light);
    }
  }
}

.card-grid {
  display: grid;
  width: 100%;
  max-width: var(--width-md);
  padding: 0 20px;
  margin: 0 auto;

  grid: auto/1fr;
  grid-gap: 20px 0;
  @media (min-width: 880px) {
    grid: auto/auto-flow 1fr;
    grid-gap: 0 12px;
  }
}
