<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
<body>
  {% include header.html %}
  <div class="hero content is-full is-center is-dark">
    <div class="container">
      <h2>Web Site</h2>
    </div>
  </div>
  <div class="content is-light">
    <div class="content-title">
      <h2>Typography</h2>
    </div>
    <div class="container">
      <h1>Headline</h1>
      <h2>Header Two</h2>
      <h3>Header Three</h3>
      <p class="measure">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus accusantium itaque molestiae, eius ut debitis autem reiciendis dolores. Cumque tenetur labore ipsam voluptatibus nesciunt inventore, eveniet doloribus eligendi laudantium excepturi.</p>
      <p> <a href="#">link</a></p>
      <ul>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>
    </div>
  </div>
  <div class="grid">
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
    <div class="grid-cell"></div>
  </div>
  <div class="content">
    <div class="container">
      <div class="grid">
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
        <div class="grid-cell"></div>
      </div>
    </div>
  </div>
  <div class="content is-dark">
    <div class="content-title">
      <h2>Section Title</h2>
    </div>
    <div class="card-grid">
      <section>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, consequuntur aut autem numquam possimus voluptatem quibusdam temporibus pariatur obcaecati accusamus quae culpa illum ipsum minus laudantium provident molestias, dicta veniam!</p>
      </section>
      <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa quis officia sit praesentium voluptates velit minima, odio minus ab deserunt quibusdam aspernatur aliquam. Nam vel temporibus et eveniet quasi repellendus.</p>
      </section>
    </div>
  </div>
  {% include footer.html %}
</body>
</html>
